.#{$class-prefix}btn {
  @include button-base();
}

@each $color in $btn-colors {
  .#{$class-prefix}btn-#{$color} {
    @include generate-button-color($color, false);
  }
}

.#{$class-prefix}btn-link {
  color: $color-primary-400;
  background-color: transparent !important;

  &:hover {
    text-decoration: underline;
  }
}

.#{$class-prefix}btn-outline {
  @each $color in $btn-colors {
    &.#{$class-prefix}btn-#{$color} {
      @include generate-button-color($color, true);
    }
  }
}

@each $size in $btn-size {
  .#{$class-prefix}btn-#{$size} {
    @include generate-button-size($size);
  }
}

.#{$class-prefix}btn-rounded {
  @include rounded($border-radius);
}

.#{$class-prefix}btn-semi-circle {
  @include semi-circle();
}

.#{$class-prefix}btn-rectangle {
  @include rectangle();
}
