.#{$class-prefix}card {
  background-color: $color-white;
  color: $text;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 14px;
  min-width: 180px;
}

.#{$class-prefix}card-header {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    line-height: normal;
    font-size: 16px;
  }
  font-weight: 700;
  font-size: 18px;
  padding: 12px;
  border-bottom: 1px solid $color-grey;
}

.#{$class-prefix}card-image {
  width: 100%;
}

.#{$class-prefix}card-body {
  padding: 12px;
}

.#{$class-prefix}card-footer {
  border-top: 1px solid $color-grey;
  padding: 12px;
}
