@import "./mixins/input";

.#{$class-prefix}select {
  position: relative;
}

.#{$class-prefix}select-toggle {
  @include field-base;
  @include field-border;
  @include field-default;
  min-width: 150px;

  display: flex;
  align-items: center;
  cursor: pointer;
  transition-duration: 0.3s;
  padding-right: 12px;
  padding-left: 12px;

  &:hover {
    background-color: $color-grey-300;
  }
}

.#{$class-prefix}select-show {
  .#{$class-prefix}select-toggle {
    background-color: $color-grey-300;
  }

  .#{$class-prefix}select-options-menu {
    display: block;
  }
}

.#{$class-prefix}select-toggle-placeholder {
  color: $text-weak;
}

.#{$class-prefix}select-toggle-icon {
  margin-left: 8px;
}

.#{$class-prefix}select-options-menu {
  display: none;
  position: absolute;
  top: 120%;
  left: 0;
  padding: 8px 0;
  min-width: 250px;
  background-color: $color-white;
  border-radius: $border-radius;
  box-shadow: 0 0 0 1px rgba(111, 119, 130, 0.15),
    0 5px 20px 0 rgba(21, 27, 38, 0.08);
  max-height: 185px;
  overflow: auto;
}
.#{$class-prefix}select-options-menu-group-wrapper:not(:last-child) {
  margin-bottom: 12px;
}

.#{$class-prefix}select-options-menu-group {
  padding: 4px 12px;
  font-weight: 500;
  color: $text-weak;
  font-size: 13px;
}

.#{$class-prefix}select-options-menu-item {
  padding: 4px 12px;
  height: 28px;
  min-width: 1px;
  flex-direction: row;
  display: flex;
  align-items: center;
  cursor: pointer;

  &.active {
    background-color: $color-grey-100;

    &:hover {
      background-color: $color-grey-100;
    }
  }

  &:hover {
    background-color: $color-grey-300;
  }
}
