$class-prefix: ts-;

// Text Colors
$text: #151b26;
$text-deprecated: #273240;
$text-weak: #6f7782;
$text-weak-hover: #151b26;
$text-disabled: #9ca6af;

// Fonts
$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
  "Helvetica Neue", Helvetica, Arial, sans-serif;

// Colors
$color-white: #ffffff;

$color-primary: rgba(35, 98, 169, 1);
$color-primary-400: rgba(35, 98, 169, 0.8);
$color-primary-300: rgba(35, 98, 169, 0.6);
$color-primary-200: rgba(35, 98, 169, 0.4);
$color-primary-100: rgba(35, 98, 169, 0.2);

$color-grey: rgba(235, 235, 255, 1);
$color-grey-400: rgba(235, 235, 255, 0.8);
$color-grey-300: rgba(235, 235, 255, 0.6);
$color-grey-200: rgba(235, 235, 255, 0.4);
$color-grey-100: rgba(235, 235, 255, 0.2);

$color-success: rgba(4, 181, 75, 1);
$color-success-400: rgba(4, 181, 75, 0.8);
$color-success-300: rgba(4, 181, 75, 0.6);
$color-success-200: rgba(4, 181, 75, 0.4);
$color-success-100: rgba(4, 181, 75, 0.2);

$color-warning: rgba(222, 179, 23, 1);
$color-warning-400: rgba(222, 179, 23, 0.8);
$color-warning-300: rgba(222, 179, 23, 0.6);
$color-warning-200: rgba(222, 179, 23, 0.4);
$color-warning-100: rgba(222, 179, 23, 0.2);

$color-danger: rgba(251, 53, 35, 1);
$color-danger-400: rgba(251, 53, 35, 0.8);
$color-danger-300: rgba(251, 53, 35, 0.6);
$color-danger-200: rgba(251, 53, 35, 0.4);
$color-danger-100: rgba(251, 53, 35, 0.2);

$color-info: rgba(79, 131, 227, 1);
$color-info-400: rgba(79, 131, 227, 0.8);
$color-info-300: rgba(79, 131, 227, 0.6);
$color-info-200: rgba(79, 131, 227, 0.4);
$color-info-100: rgba(79, 131, 227, 0.2);

$spectrum: (
  "default": $color-grey,
  "primary": $color-primary,
  "success": $color-success,
  "info": $color-info,
  "warning": $color-warning,
  "danger": $color-danger,
);

$color-types: ("primary", "success", "info", "warning", "danger");

// Size
$global-size-types: ("xs", "sm", "md", "lg", "xl");
$global-size: xs, sm, md, lg, xl;

// Padding
$padding-top: 24px;
$padding-right: 24px;
$padding-bottom: 24px;
$padding-left: 24px;

$padding-x: 24px;
$padding-y: 24px;

// Border Radius
$border-radius: 6px;

// Avatar Variable Component
$avatar-default-bg: $color-grey;
$avatar-colors: (
  "primary": $color-primary,
  "success": $color-success,
  "info": $color-info,
  "warning": $color-warning,
  "danger": $color-danger,
);

$avatar-size: (
  "xs": 24px,
  "sm": 28px,
  "md": 36px,
  "lg": 42px,
  "xl": 48px,
);

$avatar-font-size: (
  "xs": 10px,
  "sm": 13px,
  "md": 14px,
  "lg": 16px,
  "xl": 18px,
);

// Buttons
$btn-default-bg: $color-grey-400;
$btn-default-bg-hover: $color-grey;
$btn-default-color: $text;
$btn-default-color-hover: $btn-default-color;

$btn-subtle-bg: transparent;
$btn-subtle-color: $text-weak-hover;
$btn-subtle-bg-hover: $color-grey;
$btn-subtle-color-hover: $btn-subtle-color;

$btn-colors: ("primary", "success", "info", "warning", "danger");
$btn-colors-bg-hover: (
  "primary": $color-primary,
  "success": $color-success,
  "info": $color-info,
  "warning": $color-warning,
  "danger": $color-danger,
);
$btn-colors-bg: (
  "primary": $color-primary-400,
  "success": $color-success-400,
  "info": $color-info-400,
  "warning": $color-warning-400,
  "danger": $color-danger-400,
);

$btn-size: ("xs", "sm", "md", "lg", "xl");
$btn-padding-size: (
  "xs": 4px 8px,
  "sm": 5px 10px,
  "md": 6px 12px,
  "lg": 7px 14px,
  "xl": 8px 16px,
);
$btn-font-size: (
  "xs": 11px,
  "sm": 12px,
  "md": 13px,
  "lg": 16px,
  "xl": 19px,
);

// Section
$section-collapse-btn-text: $text-weak;
$section-collapse-btn-text-hover: $text-weak-hover;
$section-header-border-color: $text-disabled;

// Tile
$tile-bg-hover: #f9f9f9;
$tile-child-border-color: rgb(220, 225, 228);
$tile-title-color: $text;
$tile-subtitle-color: $text-weak;

// -------------------------
//  Typography
// -------------------------
// Text
$text-colors: (
  "muted": $text-weak,
  "primary": $color-primary,
  "info": $color-info,
  "success": $color-success,
  "warning": $color-warning,
  "danger": $color-danger,
);

// Heading
$h1-font-size: 32px;
$h2-font-size: 28px;
$h3-font-size: 24px;
$h4-font-size: 18px;
$h5-font-size: 14px;
$h6-font-size: 12px;

// Sidebar
$sidebar-header-height: 72px;
$sidebar-width: 240px;
$sidebar-color: #cbd4db;
$sidebar-bg: #2b2661;

// Nav
$nav-default-color: $text;
$nav-default-bg-hover: $color-grey-400;
$nav-default-bg-active: $color-grey;

$nav-subtle-color: $text-weak;
$nav-subtle-color-hover: $text-weak-hover;

// Data entry
$input-background: $color-white;
$input-border-default: 1px solid #cbd4db;
$input-error-border: $color-danger-300;
$input-error-border-focus: $color-danger;

// Input default
$input-default-height: 26px;
$input-default-padding-vertical: 4px;
$input-default-padding-horizontal: 12px;
$input-default-line-height: 22px;
$input-default-border-radius: $border-radius;
$input-default-focus-border-color: #9ca6af;

// Input group addon
$input-group-addon-bg: $color-grey-300;
