@mixin button-base {
  display: inline-block;
}

@mixin generate-button-color($color) {
  @debug $color;
  background-color: map-get($map: $btn-colors-bg, $key: $color);

  color: $color-white;

  &:focus,
  &:hover {
    background-color: map-get($map: $btn-colors-bg-hover, $key: $color);
  }
}

@mixin generate-button-size($size) {
  padding: map-get($map: $btn-padding-size, $key: $size);
  font-size: map-get($map: $btn-font-size, $key: $size);
}
